---
import MainLayout from '../layouts/MainLayout.astro';
import SankofaBackground from '../assets/background/Sankofa-Background.png?url';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>

	<MainLayout>
		<body>

			<!-- Hero -->
			<section class="section" style={`--sankofa-bg: url(${SankofaBackground})`}>
				<div class="container flex w-[1080px] h-full">
					<div class="flex flex-col w-full h-full items-center justify-center px-6">
						<h1 class="text-[14em] font-semibold leading-none"><span class="year-highlight">20</span>26</h1>
						<h2 class="text-center text-[1.5em] text-gray-700">As a family, we look to the past to inform the future we create for the next generation</h2>
						<div class="flex flex-col w-full items-center justify-center mt-8 mb-8">
							<p class="text-[1.5em] text-gray-700">
								June 19-21, 2026
							</p>
							<p class="text-[1.5em] text-gray-700">
								Lake Charles, LA
							</p>
						</div>
						<button class="white-button w-full text-[2em] font-medium transition-all duration-300">
							Register Today
						</button>
					</div>
					<div class="flex flex-col w-full h-full items-center justify-center relative">
						<div class="hero-card-wrapper">
							<div class="flex w-90 h-120 rounded-[20px] overflow-hidden shadow-[0_4px_12px_rgba(0,0,0,0.55)]">
								<img
									src={SankofaBackground}
									alt="Ghanaian Sankofa Designed Background"
									class="w-full h-full object-cover"
								/>
							</div>
							<div class="placeholder-image-box" aria-hidden="true">
								<span class="placeholder-image-box-label">Image</span>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Schedule & Details -->
			<section id="details" class="section" style={`--sankofa-bg: url(${SankofaBackground})`}>
				<div class="container flex flex-col w-full max-w-[1280px] h-full gap-6">
					<div class="flex flex-col w-full h-full items-center justify-center mb-10">
						<h3 class="text-[3em] font-semibold text-[#333333]">Schedule & Details</h3>
						<p class="text-[2em] text-[#333333]/80 text-center">Three days of Connection, Celebration, and Reunion</p>
					</div>
					<div class="flex flex-row w-full h-full items-center justify-between gap-4">
						<div class="details-card">
							<div class="date-tab">
								<p>Friday, Jun. 19</p>
								<p>8am - 5pm</p>
							</div>
							<h4 class="text-[2.5em] font-semibold text-[#333333] mb-6">Reception</h4>
							<div class="event-card">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="w-15 h-15 opacity-60" fill="#303030">
									<path d="M320 112C434.9 112 528 205.1 528 320C528 434.9 434.9 528 320 528C205.1 528 112 434.9 112 320C112 205.1 205.1 112 320 112zM320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM280 400C266.7 400 256 410.7 256 424C256 437.3 266.7 448 280 448L360 448C373.3 448 384 437.3 384 424C384 410.7 373.3 400 360 400L352 400L352 312C352 298.7 341.3 288 328 288L280 288C266.7 288 256 298.7 256 312C256 325.3 266.7 336 280 336L304 336L304 400L280 400zM320 256C337.7 256 352 241.7 352 224C352 206.3 337.7 192 320 192C302.3 192 288 206.3 288 224C288 241.7 302.3 256 320 256z"/>
								</svg>
								<p class="text-[1.5em] text-[#303030]/90 text-center font-semibold">Join us for a welcome reception at the hotel</p>
							</div>
							<div class="event-tab">
								Lunch
							</div>
							<div class="event-card">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="w-15 h-15 opacity-60" fill="#303030">
									<path d="M320 112C434.9 112 528 205.1 528 320C528 434.9 434.9 528 320 528C205.1 528 112 434.9 112 320C112 205.1 205.1 112 320 112zM320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM280 400C266.7 400 256 410.7 256 424C256 437.3 266.7 448 280 448L360 448C373.3 448 384 437.3 384 424C384 410.7 373.3 400 360 400L352 400L352 312C352 298.7 341.3 288 328 288L280 288C266.7 288 256 298.7 256 312C256 325.3 266.7 336 280 336L304 336L304 400L280 400zM320 256C337.7 256 352 241.7 352 224C352 206.3 337.7 192 320 192C302.3 192 288 206.3 288 224C288 241.7 302.3 256 320 256z"/>
								</svg>
								<p class="text-[1.5em] text-[#303030]/90 text-center font-semibold">Join us for a welcome reception at the hotel</p>
							</div>
						</div>
						<div class="details-card">
							<div class="date-tab">
								<p>Saturday, Jun. 20</p>
								<p>8am - 5pm</p>
							</div>
							<h4 class="text-[2.5em] font-semibold text-[#333333] mb-6">Reunion</h4>
							<div class="event-card">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="w-15 h-15 opacity-60" fill="#303030">
									<path d="M320 112C434.9 112 528 205.1 528 320C528 434.9 434.9 528 320 528C205.1 528 112 434.9 112 320C112 205.1 205.1 112 320 112zM320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM280 400C266.7 400 256 410.7 256 424C256 437.3 266.7 448 280 448L360 448C373.3 448 384 437.3 384 424C384 410.7 373.3 400 360 400L352 400L352 312C352 298.7 341.3 288 328 288L280 288C266.7 288 256 298.7 256 312C256 325.3 266.7 336 280 336L304 336L304 400L280 400zM320 256C337.7 256 352 241.7 352 224C352 206.3 337.7 192 320 192C302.3 192 288 206.3 288 224C288 241.7 302.3 256 320 256z"/>
								</svg>
								<p class="text-[1.5em] text-[#303030]/90 text-center font-semibold">Join us for a welcome reception at the hotel</p>
							</div>
							<div class="event-tab">
								Lunch
							</div>
							<div class="event-card">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="w-15 h-15 opacity-60" fill="#303030">
									<path d="M320 112C434.9 112 528 205.1 528 320C528 434.9 434.9 528 320 528C205.1 528 112 434.9 112 320C112 205.1 205.1 112 320 112zM320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM280 400C266.7 400 256 410.7 256 424C256 437.3 266.7 448 280 448L360 448C373.3 448 384 437.3 384 424C384 410.7 373.3 400 360 400L352 400L352 312C352 298.7 341.3 288 328 288L280 288C266.7 288 256 298.7 256 312C256 325.3 266.7 336 280 336L304 336L304 400L280 400zM320 256C337.7 256 352 241.7 352 224C352 206.3 337.7 192 320 192C302.3 192 288 206.3 288 224C288 241.7 302.3 256 320 256z"/>
								</svg>
								<p class="text-[1.5em] text-[#303030]/90 text-center font-semibold">Join us for a welcome reception at the hotel</p>
							</div>
						</div>
						<div class="details-card">
							<div class="date-tab">
								<p>Sunday, Jun. 21</p>
								<p>8am - 5pm</p>
							</div>
							<h4 class="text-[2.5em] font-semibold text-[#333333] mb-6">Reception</h4>
							<div class="event-card">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="w-15 h-15 opacity-60" fill="#303030">
									<path d="M320 112C434.9 112 528 205.1 528 320C528 434.9 434.9 528 320 528C205.1 528 112 434.9 112 320C112 205.1 205.1 112 320 112zM320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM280 400C266.7 400 256 410.7 256 424C256 437.3 266.7 448 280 448L360 448C373.3 448 384 437.3 384 424C384 410.7 373.3 400 360 400L352 400L352 312C352 298.7 341.3 288 328 288L280 288C266.7 288 256 298.7 256 312C256 325.3 266.7 336 280 336L304 336L304 400L280 400zM320 256C337.7 256 352 241.7 352 224C352 206.3 337.7 192 320 192C302.3 192 288 206.3 288 224C288 241.7 302.3 256 320 256z"/>
								</svg>
								<p class="text-[1.5em] text-[#303030]/90 text-center font-semibold">Join us for a welcome reception at the hotel</p>
							</div>
							<div class="event-tab">
								Lunch
							</div>
							<div class="event-card">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="w-15 h-15 opacity-60" fill="#303030">
									<path d="M320 112C434.9 112 528 205.1 528 320C528 434.9 434.9 528 320 528C205.1 528 112 434.9 112 320C112 205.1 205.1 112 320 112zM320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM280 400C266.7 400 256 410.7 256 424C256 437.3 266.7 448 280 448L360 448C373.3 448 384 437.3 384 424C384 410.7 373.3 400 360 400L352 400L352 312C352 298.7 341.3 288 328 288L280 288C266.7 288 256 298.7 256 312C256 325.3 266.7 336 280 336L304 336L304 400L280 400zM320 256C337.7 256 352 241.7 352 224C352 206.3 337.7 192 320 192C302.3 192 288 206.3 288 224C288 241.7 302.3 256 320 256z"/>
								</svg>
								<p class="text-[1.5em] text-[#303030]/90 text-center font-semibold">Join us for a welcome reception at the hotel</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Hotel Information -->
			<section id="hotel" class="section">
				<div class="container flex flex-col w-full max-w-[1280px] h-full gap-6">
					<div class="flex flex-col w-full h-full items-center justify-center mb-10">
						<h3 class="text-[3em] font-semibold text-[#333333]">Hotels & Accommodations</h3>
						<p class="text-[2em] text-[#333333]/80 text-center">Plan your stay for the weekend</p>
					</div>
				</div>
			</section>

			<!-- Explore -->
			<section id="explore" class="section">
				<div class="container flex flex-col w-full max-w-[1280px] h-full gap-6">
					<div class="flex flex-col w-full h-full items-center justify-center mb-10">
						<h3 class="text-[3em] font-semibold text-[#333333]">Explore the Area</h3>
						<p class="text-[2em] text-[#333333]/80 text-center">Lake Charles has a lot to offer</p>
					</div>
				</div>
			</section>

			<!-- Contact -->
			<section id="contact" class="section">
				<div class="container flex flex-col w-full max-w-[1280px] h-full gap-6">
					<div class="flex flex-col w-full h-full items-center justify-center mb-10">
						<h3 class="text-[3em] font-semibold text-[#333333]">Contact</h3>
						<p class="text-[2em] text-[#333333]/80 text-center">Get in touch</p>
					</div>
				</div>
			</section>
		</body>
	</MainLayout>

</html>

<style>
	.section {
		display: flex;
		width: 100%;
		height: 100vh;
		align-items: center;
		justify-content: center;
		padding-inline: 1rem;
	}

	.year-highlight {
		background-image: var(--sankofa-bg);
		background-size: cover;
		background-position: center;
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}

	.hero-card-wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.placeholder-image-box {
		position: absolute;
		left: -1rem;
		top: -1rem;
		width: 22.5rem;
		height: 30rem;
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--color-Platinum);
		border: 2px dashed var(--color-Timberwolf);
		border-radius: 12px;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
		z-index: 10;
	}

	.placeholder-image-box-label {
		font-size: 0.875rem;
		font-weight: 500;
		color: var(--color-Timberwolf);
	}

	.details-card {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		padding: 1rem;
		background-color: white;
		border-radius: 20px;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
	}

	.date-tab {
		position: relative;
		transform: translateY(-50%);
		display: flex;
		flex-direction: column;
		width: 75%;
		align-items: center;
		justify-content: center;
		padding: 0.5rem 1rem;
		--border-w: 6px;
		background: var(--sankofa-bg);
		background-size: cover;
		color: var(--color-Night);
		border: none;
		border-radius: 9999px;
		overflow: hidden;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
	}

	.date-tab::before {
		content: '';
		position: absolute;
		inset: var(--border-w);
		background: white;
		border-radius: 9999px;
		z-index: 0;
	}

	.date-tab > p {
		position: relative;
		z-index: 1;
	}

	.date-tab > p:first-child {
		color: var(--color-Night);
		font-size: 1.25rem;
		font-weight: 600;
	}

	.date-tab > p:last-child {
		color: var(--color-Night);
		opacity: 0.85;
		font-size: 1.125rem;
		font-weight: 500;
	}
</style>
