---
import MainLayout from '../layouts/MainLayout.astro';
import SankofaBackground from '../assets/background/Sankofa-Background.png?url';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>

	<MainLayout>
		<body>
			<section class="flex w-full h-screen items-center justify-center pt-6">
				<container class="flex w-[1080px] h-full">
					<div class="flex flex-col w-full h-full items-center justify-center">
						<h1 class="text-[10em] font-bold"><span class="year-highlight">20</span>26</h1>
						<h2>Lewis-Harrison Family</h2>

					</div>
					<div class="flex flex-col w-full h-full items-center justify-center">
						<div class="flex w-90 h-120 rounded-[20px] overflow-hidden shadow-[0_4px_12px_rgba(0,0,0,0.55)]">
							<img 
								src={SankofaBackground}
								alt="Ghanaian Sankofa Designed Background"
								class="w-full h-full object-cover"
								/>
						</div>
					</div>
				</container>
			</section>
		</body>
	</MainLayout>

</html>

<style>

.year-highlight {
  background-image: url('/Volumes/OWC_Exp-1M2/GitHub/lewis-harrison/src/assets/background/Sankofa-Background.png'); /* or the imported URL */
  background-size: cover;   /* or contain / specific size */
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

</style>
