---
import MainLayout from '../layouts/MainLayout.astro';
import SankofaBackground from '../assets/background/Sankofa-Background.png?url';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>

	<MainLayout>
		<body>
			<section class="flex w-full h-screen items-center justify-center pt-6">
				<container class="flex w-[1080px] h-full">
					<div class="flex flex-col w-full h-full justify-center px-6">
						<h1 class="text-[14em] font-semibold leading-none"><span class="year-highlight">20</span>26</h1>
						<h2 class="text-[1.5em] text-gray-700">As a family, we look to the past to inform the future we create for the next generation.</h2>
						<div class="flex flex-col w-full items-center justify-center mt-8 mb-8">
							<p class="text-[1.5em] text-gray-700">
								June 20-23, 2026
							</p>
							<p class="text-[1.5em] text-gray-700">
								Lake Charles, LA
							</p>
						</div>
						<button class="white-button">
							Register Today
						</button>


					</div>
					<div class="flex flex-col w-full h-full items-center justify-center">
						<div class="flex w-90 h-120 rounded-[20px] overflow-hidden shadow-[0_4px_12px_rgba(0,0,0,0.55)]">
							<img 
								src={SankofaBackground}
								alt="Ghanaian Sankofa Designed Background"
								class="w-full h-full object-cover"
								/>
						</div>
					</div>
				</container>
			</section>
		</body>
	</MainLayout>

</html>

<style>

.year-highlight {
  background-image: url('/Volumes/OWC_Exp-1M2/GitHub/lewis-harrison/src/assets/background/Sankofa-Background.png'); /* or the imported URL */
  background-size: cover;   /* or contain / specific size */
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.white-button {
	padding: 4px;
	background-color: transparent;
	background: linear-gradient(white, white) padding-box,
				linear-gradient(90deg, #F10B09, #FD8E00, #F8C001, #52B757) border-box;
	border: 2px solid transparent;
	border-radius: 10px;
	color: transparent;

}

.white-button:hover {
	background-color:
}

</style>
