---
import SankofaLogo from '../../assets/logos/Sankofa-Icon.png?url';
---

<header class="flex absolute top-0 left-0 right-0 z-200 justify-center w-full h-[70px] mt-3">
    <div class="container w-[1080px] h-full bg-white/80 backdrop-blur-sm rounded-[20px] px-4 py-2 shadow-lg">
        <div class="flex items-center justify-between">
            <div class="flex items-center">
                <h1 class="text-2xl font-bold">Lewis-Harrison Family</h1>
            </div>
            <div class="flex items-center">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </div>
            <div class="flex items-center">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
    </div>
</header>